/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;

  /* Body */
  /* font-size: 16px;
  /* font-style: normal;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* Reset styles */
ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.header {
}
.header-nav {
}
.header-logo {
}
.logo-accent {
}
.header-list {
}
.header-item {
}
.header-address {
}
.header-socials {
}
.socials-item {
}
/* Section 1 --> Order */
.order {
  background:  #2E2F42;
}
.order-title {
}
.order-button {
}

/* Section 2 --> Feature */
.features {
}
.features-list {
}
.features-item {
}
.features-caption {
}
.features-desc {
}

/* Section 3 --> Our Team */
.team {
  background: #F4F4FD;
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-icon {
}
.team-member {
}
.team-desc {
}

/* Section 4 --> Portfolio */
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-icon {
}
.portfolio-project {
}
.portfolio-desc {
}
.portfolio-member {
}

/* Section 5 --> Footer */
.footer {
  background:  #2E2F42;
}
.footer-link {
}
.footer-desc {
}
