/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
}
/* Reset styles */
ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.header {
}
.header-nav {
}
.header-logo {
}
.logo-accent {
}
.header-list {
}
.header-item {
}
.header-address {
}
.header-socials {
}
.socials-item {
}
.order {
}
.order-title {
}
.order-button {
}
.features {
}
.features-list {
}
.features-item {
}
.features-caption {
}
.features-desc {
}
.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-icon {
}
.team-member {
}
.team-desc {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-icon {
}
.portfolio-project {
}
.portfolio-desc {
}
.portfolio-member {
}
.footer {
}
.footer-link {
}
.footer-desc {
}