/* Base styles */
body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;

  /* Default values */
  /* font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */
}

/* Reset styles */
ul,
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

/* Section 0 --> Header */
.header {
}
.header-nav {
}
.header-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-accent {
  color: #4d5ae5;
}
.header-list {
}
.header-item {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1, 5; /* 150% */
  letter-spacing: 0.02em;
}
.header-item:focus,
.header-item:hover {
  color: #404bbf;
}

.header-address {
}
.header-socials {
}
.socials-item {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.socials-item:hover,
socials-item:focus {
  color: #404bbf;
}

/* Section 1 --> Order */
.order {
  background: #2e2f42;
}
.order-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.order-button {
  background: #4d5ae5;
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

.button-text {
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

/* Section 2 --> Feature */
.features {
}
.features-list {
}
.features-item {
}
.features-caption {
  color: #2e2f42;
}
.features-desc {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* Section 3 --> Our Team */
.team {
  background: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-item {
  background: #fff;
}
.team-icon {
}
.team-member {
  color: #2e2f42;
  text-align: center;
}
.team-desc {
  text-align: center;
}

/* Section 4 --> Portfolio */
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
  background: #fff;
}
.portfolio-icon {
}
.portfolio-project {
  color: #2e2f42;
}
.portfolio-desc {
}
.portfolio-member {
}

/* Section 5 --> Footer */
.footer {
  background: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-accent {
  color: #4d5ae5;
}
.footer-desc {
  color: #f4f4fd;
}
